
*.asv

fMRI/vgg16_imagenet
fMRI/vgg16_places365
fMRI/ISCtoolbox
fMRI/photos
fMRI/derivatives/sub-*/func/wrsub-*xxxx_task-scenes_run-*_bold.nii
fMRI/sourcedata/sub-*/anat/*.nii
fMRI/sourcedata/sub-*/func/*.nii
fMRI/derivatives/sub-*/func/*.nii
fMRI/sourcedata/**/.import

behavior/image_similarities/pictures
behavior/analysis/vgg16_imagenet
behavior/analysis/vgg16_places365
behavior/analysis/figures/
/fMRI/derivatives
/fMRI/localizer/onsets
/fMRI/sourcedata
fMRI/dnn_features/vgg16_imagenet/exp_1/control_bathroom_conv1_2.mat
fMRI/dnn_features/vgg16_imagenet/exp_1/control_kitchen_conv1_2.mat
fMRI/dnn_features/vgg16_imagenet/exp_1/photos_bathroom_conv1_2.mat
fMRI/dnn_features/vgg16_imagenet/exp_1/photos_kitchen_conv1_2.mat
fMRI/dnn_features/vgg16_imagenet/exp_1/typical_bathroom_conv1_2.mat
fMRI/dnn_features/vgg16_imagenet/exp_1/typical_kitchen_conv1_2.mat
